  <footer>
    <div class="footer-izq">
      <h3>Series Flash</h3>
      <p><a title="Atajo" href="/">Home</a></p>
      <p><a title="Atajo" href="/series/advanced-search">Buscador Avanzado</a></p>
      <p><a title="Atajo" href="/series/favorites">Favoritos</a></p>
    </div>
    <div class="footer-der">
      <p id="footer-logo">
      <a href="/"><img src="../public/img/LogoProyecto.png" width="50px" class="mv-ft-logo"></a>
      <a href="https://www.themoviedb.org/"><img src="../public/img/logo-tmdb.png" width="50px" class="mv-ft-logo"></a>
      </p>
      <p>Copyright © SeriesFlash</p>
      <p style="font-size: 11px; line-height: 14px; color: rgba(255,255,255,0.8)">Benjamin Mackinnon</p>
      <p style="font-size: 11px; line-height: 14px; color: rgba(255,255,255,0.8)">Pedro Fraguas</p>
      <p style="font-size: 11px; line-height: 14px; color: rgba(255,255,255,0.8)">Federico Sioli</p>
    </div>
  </footer>
</body>
</html>
