<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Series-Flash</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>

  </head>
  <body>
    <header>
      <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-left">

          <a class="uk-navbar-item uk-logo" href="home.html"><img src="../img/LogoProyecto.png" alt=""></a>

          <ul class="uk-navbar-nav esconder">
            <li>
              <a href="seriesFavoritas.html">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                Favoritos
              </a>
            </li>
            <li>
              <a href="#">Generos</a>
              <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                  <div>
                    <ul class="uk-nav uk-navbar-dropdown-nav listado-generos">
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li><a href="#"class="listagenero">Item</a></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li class="uk-nav-divider"></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                    </ul>
                  </div>
                  <div>
                    <ul class="uk-nav uk-navbar-dropdown-nav listado-generos">
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li><a href="#"class="listagenero">Item</a></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li class="uk-nav-divider"></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>

          <div class="uk-navbar-item ocultar">
            <div><a href="BuscadorAvanzado.html">BUSCADOR AVANZADO</a></div>
          </div>
          <div class="buscador">
          <div class="uk-navbar-item">
            <button class="uk-button uk-button-default mostrar-buscador" type="button" name="boton-despliegue"><i class="fas fa-search"></i></button>
            <form class="buscador" action="ResultadoDeBuscador.html" method="get">
              <input class="uk-input uk-form-width-small" name="buscador" type="text" placeholder="Encontra la serie que buscas!">
              <button class="uk-button uk-button-default"><i class="fas fa-search"></i></button>
            </form>
          </div>
          </div>
        </div>
      </nav>
    </header>