<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/css/detalleDeSerie.css">
    <script src="/public/js/detalleDeSerie.js" charset="utf-8"></script>
    <script src="https://kit.fontawesome.com/4cbe2a5007.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>

  </head>
  <body>
    <header>
      <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-left">

          <a class="uk-navbar-item uk-logo" href="home.html"><img src="../img/LogoProyecto.png" alt=""></a>

          <ul class="uk-navbar-nav esconder">
            <li>
              <a href="seriesFavoritas.html">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                Favoritos
              </a>
            </li>
            <li>
              <a href="#">Generos</a>
              <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                  <div>
                    <ul class="uk-nav uk-navbar-dropdown-nav listado-generos">
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li><a href="#"class="listagenero">Item</a></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li class="uk-nav-divider"></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                    </ul>
                  </div>
                  <div>
                    <ul class="uk-nav uk-navbar-dropdown-nav listado-generos">
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li><a href="#"class="listagenero">Item</a></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li class="uk-nav-divider"></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                      <li><a href="#" class="listagenero">Item</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>

          <div class="uk-navbar-item ocultar">
            <div><a href="BuscadorAvanzado.html">BUSCADOR AVANZADO</a></div>
          </div>
          <div class="buscador">
          <div class="uk-navbar-item">
            <button class="uk-button uk-button-default mostrar-buscador" type="button" name="boton-despliegue"><i class="fas fa-search"></i></button>
            <form class="buscador" action="ResultadoDeBuscador.html" method="get">
              <input class="uk-input uk-form-width-small" name="buscador" type="text" placeholder="Encontra la serie que buscas!">
              <button class="uk-button uk-button-default"><i class="fas fa-search"></i></button>
            </form>
          </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="infoPrincipal">
        <img class="poster" src="../img/poster-default.png" alt="">
        <div class="tituloDatos">
          <h2 class="tituloPelicula"></h2>
          <button type="button" name="button" class="favorito">AGREGAR FAVORTIO</button>
          <h4 class="datosPrincipales">Genres:</h4>
          <p class="generos"></p>
          <h4 class="datosPrincipales lenguajeOriginal">Original Language: </h4>
          <h4 class="datosPrincipales fechaEstreno">First Air Date: </h4>
          <h4 class="datosPrincipales">Overview:</h4>
          <p class="overview"></p>
        </div>
      </div>
      <div class="trailer">

      </div>
      <button type="button" class="series-relacionadas" name="series-relacionadas">Ver series relacionadas</button>
      <div class="relacionadas">
        <h3>Relacionadas</h3>
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="sets: true">
          <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-child-width-1-5@l">
            <li class="uk-transition-toggle" tabindex="0">
              <a href="#"><img src="../img/poster-default.png" alt=""></a>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
              <a href="#"><img src="../img/poster-default.png" alt=""></a>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
              <a href="#"><img src="../img/poster-default.png" alt=""></a>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
              <a href="#"><img src="../img/poster-default.png" alt=""></a>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
              <a href="#"><img src="../img/poster-default.png" alt=""></a>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
              <a href="#"><img src="../img/poster-default.png" alt=""></a>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
              <a href="#"><img src="../img/poster-default.png" alt=""></a>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
              <a href="#"><img src="../img/poster-default.png" alt=""></a>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
              <a href="#"><img src="../img/poster-default.png" alt=""></a>
            </li>
            <li class="uk-transition-toggle" tabindex="0">
              <a href="#"><img src="../img/poster-default.png" alt=""></a>
            </li>
          </ul>

          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
      </div>

    </main>

    <footer>
      <div class="footer-izq">
        <h3>Series Flash</h3>
        <p><a title="Atajo" href="home.html">Home</a></p>
        <p><a title="Atajo" href="BuscadorAvanzado.html">Buscador Avanzado</a></p>
        <p><a title="Atajo" href="seriesFavoritas.html">Favoritos</a></p>
      </div>
      <div class="footer-der">
        <p id="footer-logo" class="logo">
        <a href="home.html"><img border="0" src="../img/LogoProyecto.png" width="50px" class="mv-ft-logo"></a>
        <a href="https://www.themoviedb.org/"><img border="0" src="../img/logo-tmdb.png" width="50px" class="mv-ft-logo"></a>
        </p>
        <p>Copyright © SeriesFlash</p>
        <p style="font-size: 11px; line-height: 14px; color: rgba(255,255,255,0.8)" class="nombre">Benjamin Mackinnon</p>
        <p style="font-size: 11px; line-height: 14px; color: rgba(255,255,255,0.8)" class="nombre">Pedro Fraguas</p>
        <p style="font-size: 11px; line-height: 14px; color: rgba(255,255,255,0.8)" class="abajo" class="nombre">Federico Sioli</p>
      </div>
    </footer>
  </body>
</html>
