<%- include('./partials/header') -%>

<link rel="stylesheet" href="/css/loginUsuario.css">

    <h1>Log-In Series Flash</h1>

    <p style="color: red;"><%= error %></p>

    <form action="/users/login" method="POST">
        <div>
            <label for="">Username:</label>
            <input type="text" name="username">
        </div>
        <div>
            <label for="">Password:</label>
            <input type="password" name="password">
        </div>
        <button>Log-In!</button>
    </form>

<%- include('./partials/footer') -%>