<%- include('./partials/header') -%>

    <link rel="stylesheet" href="/css/logoutUsuario.css">
    <script src="/js/header.js"></script>

    <h1>Log-Out Series Flash</h1>

    <form action="/users/logout" method="POST">
        <label for="">Esta seguro que desea salir?</label><br>
        <button>Log-Out</button>
    </form>

    <a href="/"><button>Seguir viendo series</button></a>

<%- include('./partials/footer') -%>