<%- include('./partials/header') -%>

    <script src="/js/registrarUsuario.js"></script>
    <link rel="stylesheet" href="/css/registrarUsuario.css">

    <h1>Registrate en Series Flash</h1>

    <form action="/users/register" method="POST">
        <div>
            <label for="">Username:</label>
            <input type="text" name="username">
        </div>
        <div>
            <label for="">Email</label>
            <input type="text" name="email">
        </div>
        <div>
            <label for="">Password</label>
            <input type="password" name="password">
        </div>
        <button>Register!</button>
    </form>

    <!-- Trigger/Open The Modal -->
    <button name="myBtn" id="myBtn" class="myBtn">Open Modal</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Some text in the Modal..</p>
        </div>
    </div>

<%- include('./partials/footer') -%>