<%- include('./partials/header') -%>

<link rel="stylesheet" href="/css/resultadoDeBuscador.css">
<script src="/js/buscador.js" charset="utf-8"></script>
<script src="https://kit.fontawesome.com/4cbe2a5007.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">

<main>
  <h1>Esto encontramos para tu busqueda de "<%= query %> "!</h1>
  <section class="series">
    <div class="resultados">
      <% for( let i = 0; i < series.length; i++ ) { %>
        <article class="serieBuscada">
          <p></p>
          <a href="series/detail/" + series[i].id><img src="https://image.tmdb.org/t/p/original" + series[i].poster_path alt=""></a>
        </article>
      <% } %>
    </div>
  </section>
</main>
<%- include('./partials/footer') -%>
