<%- include('./partials/header') -%>

<link rel="stylesheet" href="../public/css/resultadoDeBuscador.css">
<script src="../public/js/buscador.js" charset="utf-8"></script>
<script src="https://kit.fontawesome.com/4cbe2a5007.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">

<main>
  <h1>Esto encontramos para tu busqueda de " "!</h1>
  <section class="series">
    <div class="resultados">
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="../img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="../img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="../img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="../img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="../img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="../img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="../img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="../img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="../img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="../img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="../img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="../img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="../img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="../img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="../img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="../img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="../img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="../img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="../img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="../img/poster-default.png" alt=""></a>
      </article>
    </div>
  </section>
  <button type="button" name="verMas">Ver más</button>
</main>
<%- include('./partials/footer') -%>
