<%- include('./partials/header') -%>

<link rel="stylesheet" href="../public/css/favoritos.css">
<script src="https://kit.fontawesome.com/4cbe2a5007.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">
<script src="../public/js/seriesFavoritas.js" charset="utf-8"></script>

<main>
  <h1>Tus Favoritos</h1>
  <section class="series">

  </section>
</main>

<%- include('./partials/footer') -%>
