<%- include('./partials/header') -%>

<link rel="stylesheet" href="/css/seriesPorGenero.css">
<script src="https://kit.fontawesome.com/4cbe2a5007.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">
<script src="/js/seriesPorGenero.js" charset="utf-8"></script>

<main>
  <p id="id"><%= id %> </p>
  <h3 class="genero"></h3>
  <section class="series">
    <div class="resultados">
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="/img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="/img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="/img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="/img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="/img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="/img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="/img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="/img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="/img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="/img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="/img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="/img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="/img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="/img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="/img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="/img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="/img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="/img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="/img/poster-default.png" alt=""></a>
      </article>
      <article class="serieBuscada">
        <p></p>
        <a href=""><img src="/img/poster-default.png" alt=""></a>
      </article>
    </div>
  </section>
  <button type="button" name="verMas">Ver más</button>
</main>
<%- include('./partials/footer') -%>
