* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Poiret One', cursive;}

  /* Header */
  header nav div a{
    color: white;
  }

  button.uk-button-default{
    border: none;
  }


  /* body */

  body {
    background-image: url("https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-037.jpg");
    background-repeat: repeat;
    background-size: cover;
  }

  main {
    margin-left: 10%;
    margin-right: 10%;
  }

  div.infoPrincipal {
    display: flex;

  }

  img.poster {
    width: 30%;
    margin-top: 15px;
  }

  h2.tituloPelicula {
    top: 0;
    left: 35%;
    margin-left: 2%;
    margin-top: 15px;
  }

  h4.datosPrincipales {
    top: 70px;
    left: 35%;
    margin-left: 2%;
    margin-top: 5px;
  }

  .tituloDatos p {
    top: 70px;
    left: 35%;
    margin-left: 2%;
    margin-top: 5px;
  }

  div.infogeneral {
    display: flex;
  }

  p.descripcion {
    top: 200vh;
    margin-top: 20px;
  }

  iframe.trailer {
    top: 300px;
    margin-top: 30px;
  }

  div.tituloDatos {
    width: 100%;
    background-color:#f8f8f8;
    margin-left: 1%;
    border-radius: 10px;
  }

  div.carrousel {
    display: flex;
  }

  img.portada {
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
  }

  div.relacionadas h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  button.favorito{
    background-color: white;
    border: none;
    margin-left: 2%;
  }

/* series relacionadas */

  main button{

  }

  div.relacionadas{
    display: none;
  }

  div.trailer{
  padding-top: 20px;
  width: 50%;
  margin: auto;
  }

/* footer */

footer{
  font-family: 'Poiret One', cursive;
  background-color: rgb(129, 133, 138);
  margin-top: 20px;
  padding: 1px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 0;
}

footer div.footer-izq{
  width: 40%;
  margin-left: 5%;
}

footer div.footer-der{
    width: 40%;
    margin-right: 5%;
}

footer div.footer-izq a{
  text-decoration: none;
  color: white;
}

footer div.footer-der p.abajo{
  margin-bottom: 0;
}

  /* Header */

  body{
    margin-top: 0;
  }

  body main{
    margin-left: 2%;
    margin-right: 2%;
  }

  header nav div a{
    color: #999;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }
  header nav div a img{
    width: 58px;
    padding-left: 0;
  }

  nav.uk-navbar-container.uk-margin.uk-navbar{
    background-color: rgb(129, 133, 138);
  }

  nav div div.buscador{
    position: absolute;
    right: 0;
  }

  nav div div.buscador input{
    width: 200px;
  }

  button.uk-button-default{
    border: none;
  }

  button.mostrar-buscador{
    display: none;
  }
  /* Responsive */

@media (max-width: 768px){


    button.mostrar-buscador{
      display: block;
    }

    form.buscador{
      display: none;
    }
  img.poster{
    width: 50%;
  }

  div.trailer{
    margin-left: 15%;
    justify-content: center;
  }

  button.series-relacionadas{
    margin-left: 15%
  }

  /* Footer */

  footer{
    width: 100%;
  }

  footer div.footer-izq{
    width: 40%;
    margin-left: 0;
    padding-right: 0;
  }
  footer div.footer-izq p{
    margin: 0;
    width: 50%;
    height: auto;
    margin-top: 5%;
  }

  footer div.footer-der{
      width: 40%;
      margin-right: 0;
      padding-right: 0;
  }
  footer div.footer-der p.nombre{
    visibility: hidden;
  }
  footer div.footer-der p.abajo{
    visibility: hidden;
  }

  footer div.footer-der p.logo{
    margin-top: 20%;
  }
}
